body {
  margin: 0;
  font-family:  'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2faff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";